<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="EcClientConfiguration" type="EC_Endpoint_Client.Configuration.EcClientConfiguration, EC Endpoint Client" ></section>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <EcClientConfiguration>
    <ApiEnvironmentCollection>      
      <ApiEnvironment name="DEV Https" address="https://localhostapi:44/" />
      <ApiEnvironment name="ST1" address="https://st01.ai.basefarm.net/" />
      <ApiEnvironment name="ST2" address="https://st02.ai.basefarm.net/" />
      <ApiEnvironment name="ST3" address="https://st03.ai.basefarm.net/" />
      <ApiEnvironment name="AT5" address="https://at05.ai.basefarm.net/" />
      <ApiEnvironment name="AT6" address="https://at06.ai.basefarm.net/" />
      <ApiEnvironment name="AT7" address="https://at07.ai.basefarm.net/" />
      <ApiEnvironment name="TT1" address="https://tt01.altinn.no/" />
      <ApiEnvironment name="TT2" address="https://tt02.altinn.no/" />
      <ApiEnvironment name="PROD" address="https://www.altinn.no/" />
    </ApiEnvironmentCollection>
  </EcClientConfiguration>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Verbose" propagateActivity="true">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="Microsoft.IdentityModel" switchValue="Verbose">
        <listeners>
          <add name="xml" type="System.Diagnostics.XmlWriterTraceListener" initializeData="WIFTrace.e2e" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="Accounts.svclog" type="System.Diagnostics.XmlWriterTraceListener" name="xml" />
    </sharedListeners>
  </system.diagnostics>
  <system.serviceModel>
    <diagnostics>
      <messageLogging logEntireMessage="true"
      logMalformedMessages="false" logMessagesAtServiceLevel="true"
      logMessagesAtTransportLevel="false" maxMessagesToLog="10000"
      maxSizeOfMessageToLog="1000000" />
    </diagnostics>
    <bindings>
      <customBinding>
        <binding name="X509Binding">
          <security defaultAlgorithmSuite="Default" authenticationMode="SecureConversation"
              requireDerivedKeys="true" securityHeaderLayout="Strict" includeTimestamp="true"
              keyEntropyMode="CombinedEntropy" messageProtectionOrder="SignBeforeEncrypt"
              messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10"
              requireSecurityContextCancellation="true" requireSignatureConfirmation="true">
            <secureConversationBootstrap authenticationMode="CertificateOverTransport"
                requireDerivedKeys="false" />
            <localClientSettings cacheCookies="true" detectReplays="false"
                replayCacheSize="900000" maxClockSkew="00:05:00" replayWindow="00:05:00"
                sessionKeyRenewalInterval="10:00:00" sessionKeyRolloverInterval="00:05:00"
                reconnectTransportOnFailure="true" timestampValidityDuration="00:05:00"
                cookieRenewalThresholdPercentage="60" />
            <localServiceSettings detectReplays="false" issuedCookieLifetime="10:00:00"
                maxStatefulNegotiations="128" replayCacheSize="900000" maxClockSkew="00:05:00"
                negotiationTimeout="00:01:00" replayWindow="00:05:00" inactivityTimeout="00:02:00"
                sessionKeyRenewalInterval="15:00:00" sessionKeyRolloverInterval="00:05:00"
                reconnectTransportOnFailure="true" maxPendingSessions="128"
                maxCachedCookies="1000" timestampValidityDuration="00:05:00" />
          </security>
          <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
              messageVersion="Default" writeEncoding="utf-8">
            <readerQuotas maxDepth="320" maxStringContentLength="2147483647"
                maxArrayLength="2147483647" maxBytesPerRead="40960" maxNameTableCharCount="163840" />
          </textMessageEncoding>
          <httpsTransport maxReceivedMessageSize="2147483647" />
        </binding>
        <binding name="AltinnX509CertBindingMTOM" sendTimeout="00:20:00">
          <security defaultAlgorithmSuite="Default" authenticationMode="SecureConversation"
              requireDerivedKeys="true" securityHeaderLayout="Strict" includeTimestamp="true"
              keyEntropyMode="CombinedEntropy" messageProtectionOrder="SignBeforeEncrypt"
              messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10"
              requireSecurityContextCancellation="true" requireSignatureConfirmation="true">
            <secureConversationBootstrap authenticationMode="CertificateOverTransport"
                requireDerivedKeys="false" />
            <localClientSettings cacheCookies="true" detectReplays="false"
                replayCacheSize="900000" maxClockSkew="00:05:00" replayWindow="00:05:00"
                sessionKeyRenewalInterval="10:00:00" sessionKeyRolloverInterval="00:05:00"
                reconnectTransportOnFailure="true" timestampValidityDuration="00:05:00"
                cookieRenewalThresholdPercentage="60" />
            <localServiceSettings detectReplays="false" issuedCookieLifetime="10:00:00"
                maxStatefulNegotiations="128" replayCacheSize="900000" maxClockSkew="00:05:00"
                negotiationTimeout="00:01:00" replayWindow="00:05:00" inactivityTimeout="00:02:00"
                sessionKeyRenewalInterval="15:00:00" sessionKeyRolloverInterval="00:05:00"
                reconnectTransportOnFailure="true" maxPendingSessions="128"
                maxCachedCookies="1000" timestampValidityDuration="00:05:00" />
          </security>
          <mtomMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
              messageVersion="Default" writeEncoding="utf-8">
            <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
                maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          </mtomMessageEncoding>
          <httpsTransport maxReceivedMessageSize="6553006" />
        </binding>
        <binding name="AltinnX509Streamed" sendTimeout="00:20:00">
          <security defaultAlgorithmSuite="Default" authenticationMode="SecureConversation"
              requireDerivedKeys="true" securityHeaderLayout="Strict" includeTimestamp="true"
              allowInsecureTransport="true" keyEntropyMode="CombinedEntropy"
              messageProtectionOrder="SignBeforeEncrypt" messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10"
              requireSecurityContextCancellation="true" requireSignatureConfirmation="true">
            <secureConversationBootstrap authenticationMode="CertificateOverTransport"
                requireDerivedKeys="false" />
            <localClientSettings cacheCookies="true" detectReplays="false"
                replayCacheSize="900000" maxClockSkew="00:05:00" replayWindow="00:05:00"
                sessionKeyRenewalInterval="10:00:00" sessionKeyRolloverInterval="00:05:00"
                reconnectTransportOnFailure="true" timestampValidityDuration="00:05:00"
                cookieRenewalThresholdPercentage="60" />
            <localServiceSettings detectReplays="false" issuedCookieLifetime="10:00:00"
                maxStatefulNegotiations="128" replayCacheSize="900000" maxClockSkew="00:05:00"
                negotiationTimeout="00:01:00" replayWindow="00:05:00" inactivityTimeout="00:02:00"
                sessionKeyRenewalInterval="15:00:00" sessionKeyRolloverInterval="00:05:00"
                reconnectTransportOnFailure="true" maxPendingSessions="128"
                maxCachedCookies="1000" timestampValidityDuration="00:05:00" />
          </security>
          <mtomMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
              messageVersion="Default" writeEncoding="utf-8">
            <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
                maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          </mtomMessageEncoding>
          <httpsTransport maxReceivedMessageSize="6553006" />
        </binding>
      </customBinding>
      <wsHttpBinding>
        <binding name="CustomBinding_ICorrespondenceAgencyExternalEC">
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" />
            <message clientCredentialType="Certificate" />
          </security>
        </binding>
        <binding name="CustomBinding_ICorrespondenceAgencyExternalAEC">
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" />
            <message clientCredentialType="Certificate" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="CustomBehavior">
          <clientCredentials>
            <!--  9BBE8A114B1CF13A6CC1A5D88B363F1DEE5689D8 3392adb1c237a597aefb071d6b8e38f6371ba71c     9bbe8a114b1cf13a6cc1a5d88b363f1dee5689d8   95d43190e2f6a4ca5a8035d4af0d4be92e015608   3636e9bd1b32a1da1a43e34eb8de637289c03345-->
            <clientCertificate x509FindType="FindByThumbprint" findValue="29A3E58B4453B944EBFEB42B54986C042580FB69" storeName="My" storeLocation="CurrentUser"/>
            <serviceCertificate>
              <authentication certificateValidationMode="ChainTrust" revocationMode="NoCheck" trustedStoreLocation="LocalMachine"/>
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <client>
      <endpoint address="https://st01.ai.basefarm.net/ArchiveExternal/ArchiveCommonAgencyExternalEC.svc"
        binding="customBinding" bindingConfiguration="X509Binding" contract="ArchiveCommonAgency.IArchiveCommonAgencyExternalEC"
        name="ST01" />
      <endpoint address="https://at06.ai.basefarm.net/ArchiveExternal/ArchiveCommonAgencyExternalEC.svc"
        binding="customBinding" bindingConfiguration="X509Binding" contract="ArchiveCommonAgency.IArchiveCommonAgencyExternalEC"
        name="AT06" />
      <endpoint address="https://tt02.altinn.no/ArchiveExternal/ArchiveCommonAgencyExternalEC.svc"
        binding="customBinding" bindingConfiguration="X509Binding" contract="ArchiveCommonAgency.IArchiveCommonAgencyExternalEC"
        name="TT02" />
      <endpoint address="https://tt02.altinn.no/ArchiveExternal/ArchiveCommonAgencyExternalEC.svc?bigiptestversion=true"
        binding="customBinding" bindingConfiguration="X509Binding" contract="ArchiveCommonAgency.IArchiveCommonAgencyExternalEC"
        name="TT02_TEST" />
      <endpoint address="https://www.altinn.no/ArchiveExternal/ArchiveCommonAgencyExternalEC.svc?bigiptestversion=true"
        binding="customBinding" bindingConfiguration="X509Binding" contract="ArchiveCommonAgency.IArchiveCommonAgencyExternalEC"
        name="PROD_TEST" />
      <endpoint address="https://www.altinn.no/ArchiveExternal/ArchiveCommonAgencyExternalEC.svc"
        binding="customBinding" bindingConfiguration="X509Binding" contract="ArchiveCommonAgency.IArchiveCommonAgencyExternalEC"
        name="PROD" />
      <endpoint address="https://st02.ai.basefarm.net/ArchiveExternal/DownloadQueueExternalEC.svc"
        binding="customBinding" bindingConfiguration="AltinnX509CertBindingMTOM"
        contract="DownloadQueue.IDownloadQueueExternalEC" name="ST02" />
      <endpoint address="https://at08.ai.basefarm.net/ArchiveExternal/DownloadQueueExternalEC.svc"
        binding="customBinding" bindingConfiguration="AltinnX509CertBindingMTOM"
        contract="DownloadQueue.IDownloadQueueExternalEC" name="AT08" />
      <endpoint address="https://tt02.altinn.no/ArchiveExternal/DownloadQueueExternalEC.svc?bigiptestversion=true"
        binding="customBinding" bindingConfiguration="AltinnX509CertBindingMTOM"
        contract="DownloadQueue.IDownloadQueueExternalEC" name="TT02_TEST" />
      <endpoint address="https://tt02.altinn.no/ArchiveExternal/DownloadQueueExternalEC.svc"
        binding="customBinding" bindingConfiguration="AltinnX509CertBindingMTOM"
        contract="DownloadQueue.IDownloadQueueExternalEC" name="TT02" />
      <endpoint address="https://www.altinn.no/ArchiveExternal/DownloadQueueExternalEC.svc?bigiptestversion=true"
        binding="customBinding" bindingConfiguration="AltinnX509CertBindingMTOM"
        contract="DownloadQueue.IDownloadQueueExternalEC" name="PROD_TEST" />
      <endpoint address="https://www.altinn.no/ArchiveExternal/DownloadQueueExternalEC.svc"
        binding="customBinding" bindingConfiguration="AltinnX509CertBindingMTOM"
        contract="DownloadQueue.IDownloadQueueExternalEC" name="PROD" />
      <endpoint address="https://st01.ai.basefarm.net/ArchiveExternal/KeyManagementEC.svc"
        binding="customBinding" bindingConfiguration="X509Binding" contract="KeyManagement.IKeyManagementExternalEC"
        name="ST01" />
      <endpoint address="https://at06.ai.basefarm.net/ArchiveExternal/KeyManagementEC.svc"
        binding="customBinding" bindingConfiguration="X509Binding" contract="KeyManagement.IKeyManagementExternalEC"
        name="AT06" />
      <endpoint address="https://tt02.altinn.no/ArchiveExternal/KeyManagementEC.svc"
        binding="customBinding" bindingConfiguration="X509Binding" contract="KeyManagement.IKeyManagementExternalEC"
        name="TT02" />
      <endpoint address="https://tt02.altinn.no/ArchiveExternal/KeyManagementEC.svc?bigiptestversion=true"
        binding="customBinding" bindingConfiguration="X509Binding" contract="KeyManagement.IKeyManagementExternalEC"
        name="TT02_TEST" />
      <endpoint address="https://www.altinn.no/ArchiveExternal/KeyManagementEC.svc"
        binding="customBinding" bindingConfiguration="X509Binding" contract="KeyManagement.IKeyManagementExternalEC"
        name="PROD" />
      <endpoint address="https://www.altinn.no/ArchiveExternal/KeyManagementEC.svc?bigiptestversion=true"
        binding="customBinding" bindingConfiguration="X509Binding" contract="KeyManagement.IKeyManagementExternalEC"
        name="PROD_TEST" />
      <endpoint address="https://st01.ai.basefarm.net/ArchiveExternal/ReporteeArchiveExternalEC.svc"
        binding="customBinding" bindingConfiguration="X509Binding" contract="ReporteeArchive.IReporteeArchiveExternalEC"
        name="ST01" />
      <endpoint address="https://at06.ai.basefarm.net/ArchiveExternal/ReporteeArchiveExternalEC.svc"
        binding="customBinding" bindingConfiguration="X509Binding" contract="ReporteeArchive.IReporteeArchiveExternalEC"
        name="AT06" />
      <endpoint address="https://tt02.altinn.no/ArchiveExternal/ReporteeArchiveExternalEC.svc"
        binding="customBinding" bindingConfiguration="X509Binding" contract="ReporteeArchive.IReporteeArchiveExternalEC"
        name="TT02" />
      <endpoint address="https://tt02.altinn.no/ArchiveExternal/ReporteeArchiveExternalEC.svc?bigiptestversion=true"
        binding="customBinding" bindingConfiguration="X509Binding" contract="ReporteeArchive.IReporteeArchiveExternalEC"
        name="TT02_TEST" />
      <endpoint address="https://www.altinn.no/ArchiveExternal/ReporteeArchiveExternalEC.svc"
        binding="customBinding" bindingConfiguration="X509Binding" contract="ReporteeArchive.IReporteeArchiveExternalEC"
        name="PROD" />
      <endpoint address="https://www.altinn.no/ArchiveExternal/ReporteeArchiveExternalEC.svc?bigiptestversion=true"
        binding="customBinding" bindingConfiguration="X509Binding" contract="ReporteeArchive.IReporteeArchiveExternalEC"
        name="PROD_TEST" />
      <endpoint address="https://st01.ai.basefarm.net/ArchiveExternal/ReporteeArchiveExternalStreamedEC.svc"
        binding="customBinding" bindingConfiguration="AltinnX509Streamed"
        contract="ReporteeArchiveStreamed.IReporteeArchiveExternalStreamedEC"
        name="ST01" />
      <endpoint address="https://at06.ai.basefarm.net/ArchiveExternal/ReporteeArchiveExternalStreamedEC.svc"
        binding="customBinding" bindingConfiguration="AltinnX509Streamed"
        contract="ReporteeArchiveStreamed.IReporteeArchiveExternalStreamedEC"
        name="AT06" />
      <endpoint address="https://tt02.altinn.no/ArchiveExternal/ReporteeArchiveExternalStreamedEC.svc"
        binding="customBinding" bindingConfiguration="AltinnX509Streamed"
        contract="ReporteeArchiveStreamed.IReporteeArchiveExternalStreamedEC"
        name="TT02" />
      <endpoint address="https://tt02.altinn.no/ArchiveExternal/ReporteeArchiveExternalStreamedEC.svc?bigiptestversion=true"
        binding="customBinding" bindingConfiguration="AltinnX509Streamed"
        contract="ReporteeArchiveStreamed.IReporteeArchiveExternalStreamedEC"
        name="TT02_TEST" />
      <endpoint address="https://www.altinn.no/ArchiveExternal/ReporteeArchiveExternalStreamedEC.svc?bigiptestversion=true"
        binding="customBinding" bindingConfiguration="AltinnX509Streamed"
        contract="ReporteeArchiveStreamed.IReporteeArchiveExternalStreamedEC"
        name="PROD_TEST" />
      <endpoint address="https://www.altinn.no/ArchiveExternal/ReporteeArchiveExternalStreamedEC.svc"
        binding="customBinding" bindingConfiguration="AltinnX509Streamed"
        contract="ReporteeArchiveStreamed.IReporteeArchiveExternalStreamedEC"
        name="PROD" />
      <endpoint address="https://st01.ai.basefarm.net/ArchiveExternal/ServiceOwnerArchiveExternalEC.svc"
        binding="customBinding" bindingConfiguration="X509Binding" contract="SOArchive.IServiceOwnerArchiveExternalEC"
        name="ST01" />
      <endpoint address="https://at06.ai.basefarm.net/ArchiveExternal/ServiceOwnerArchiveExternalEC.svc"
        binding="customBinding" bindingConfiguration="X509Binding" contract="SOArchive.IServiceOwnerArchiveExternalEC"
        name="AT06" />
      <endpoint address="https://tt02.altinn.no/ArchiveExternal/ServiceOwnerArchiveExternalEC.svc"
        binding="customBinding" bindingConfiguration="X509Binding" contract="SOArchive.IServiceOwnerArchiveExternalEC"
        name="TT02" />
      <endpoint address="https://tt02.altinn.no/ArchiveExternal/ServiceOwnerArchiveExternalEC.svc?bigiptestversion=true"
        binding="customBinding" bindingConfiguration="X509Binding" contract="SOArchive.IServiceOwnerArchiveExternalEC"
        name="TT02_TEST" />
      <endpoint address="https://www.altinn.no/ArchiveExternal/ServiceOwnerArchiveExternalEC.svc?bigiptestversion=true"
        binding="customBinding" bindingConfiguration="X509Binding" contract="SOArchive.IServiceOwnerArchiveExternalEC"
        name="PROD_TEST" />
      <endpoint address="https://www.altinn.no/ArchiveExternal/ServiceOwnerArchiveExternalEC.svc"
        binding="customBinding" bindingConfiguration="X509Binding" contract="SOArchive.IServiceOwnerArchiveExternalEC"
        name="PROD" />
      <endpoint address="https://st01.ai.basefarm.net/ArchiveExternal/ServiceOwnerArchiveExternalStreamedEC.svc"
        binding="customBinding" bindingConfiguration="AltinnX509Streamed"
        contract="SOArchiveStreamed.IServiceOwnerArchiveExternalStreamedEC"
        name="ST01" />
      <endpoint address="https://at06.ai.basefarm.net/ArchiveExternal/ServiceOwnerArchiveExternalStreamedEC.svc"
        binding="customBinding" bindingConfiguration="AltinnX509Streamed"
        contract="SOArchiveStreamed.IServiceOwnerArchiveExternalStreamedEC"
        name="AT06" />
      <endpoint address="https://tt02.altinn.no/ArchiveExternal/ServiceOwnerArchiveExternalStreamedEC.svc"
        binding="customBinding" bindingConfiguration="AltinnX509Streamed"
        contract="SOArchiveStreamed.IServiceOwnerArchiveExternalStreamedEC"
        name="TT02" />
      <endpoint address="https://tt02.altinn.no/ArchiveExternal/ServiceOwnerArchiveExternalStreamedEC.svc?bigiptestversion=true"
        binding="customBinding" bindingConfiguration="AltinnX509Streamed"
        contract="SOArchiveStreamed.IServiceOwnerArchiveExternalStreamedEC"
        name="TT02_TEST" />
      <endpoint address="https://www.altinn.no/ArchiveExternal/ServiceOwnerArchiveExternalStreamedEC.svc"
        binding="customBinding" bindingConfiguration="AltinnX509Streamed"
        contract="SOArchiveStreamed.IServiceOwnerArchiveExternalStreamedEC"
        name="PROD" />
      <endpoint address="https://www.altinn.no/ArchiveExternal/ServiceOwnerArchiveExternalStreamedEC.svc?bigiptestversion=true"
        binding="customBinding" bindingConfiguration="AltinnX509Streamed"
        contract="SOArchiveStreamed.IServiceOwnerArchiveExternalStreamedEC"
        name="PROD_TEST" />
      <endpoint address="https://st01.ai.basefarm.net/AuthorizationExternal/AdministrationExternalEC.svc"
        binding="customBinding" bindingConfiguration="X509Binding" contract="Administration.IAuthorizationAdministrationEC"
        name="ST01" />
      <endpoint address="https://at06.ai.basefarm.net/AuthorizationExternal/AdministrationExternalEC.svc"
        binding="customBinding" bindingConfiguration="X509Binding" contract="Administration.IAuthorizationAdministrationEC"
        name="AT06" />
      <endpoint address="https://tt02.altinn.no/AuthorizationExternal/AdministrationExternalEC.svc"
        binding="customBinding" bindingConfiguration="X509Binding" contract="Administration.IAuthorizationAdministrationEC"
        name="TT02" />
      <endpoint address="https://tt02.altinn.no/AuthorizationExternal/AdministrationExternalEC.svc?bigiptestversion=true"
        binding="customBinding" bindingConfiguration="X509Binding" contract="Administration.IAuthorizationAdministrationEC"
        name="TT02_TEST" />
      <endpoint address="https://www.altinn.no/AuthorizationExternal/AdministrationExternalEC.svc?bigiptestversion=true"
        binding="customBinding" bindingConfiguration="X509Binding" contract="Administration.IAuthorizationAdministrationEC"
        name="PROD_TEST" />
      <endpoint address="https://www.altinn.no/AuthorizationExternal/AdministrationExternalEC.svc"
        binding="customBinding" bindingConfiguration="X509Binding" contract="Administration.IAuthorizationAdministrationEC"
        name="PROD" />
      <endpoint address="https://st01.ai.basefarm.net/IntermediaryExternal/IntermediaryInboundExternalECStreamed.svc"
        binding="customBinding" bindingConfiguration="AltinnX509Streamed"
        contract="IntermediaryInboundStreamed.IIntermediaryInboundExternalECStreamed"
        name="ST01" />
      <endpoint address="https://at06.ai.basefarm.net/IntermediaryExternal/IntermediaryInboundExternalECStreamed.svc"
        binding="customBinding" bindingConfiguration="AltinnX509Streamed"
        contract="IntermediaryInboundStreamed.IIntermediaryInboundExternalECStreamed"
        name="AT06" />
      <endpoint address="https://tt02.altinn.no/IntermediaryExternal/IntermediaryInboundExternalECStreamed.svc"
        binding="customBinding" bindingConfiguration="AltinnX509Streamed"
        contract="IntermediaryInboundStreamed.IIntermediaryInboundExternalECStreamed"
        name="TT02" />
      <endpoint address="https://tt02.altinn.no/IntermediaryExternal/IntermediaryInboundExternalECStreamed.svc?bigiptestversion=true"
        binding="customBinding" bindingConfiguration="AltinnX509Streamed"
        contract="IntermediaryInboundStreamed.IIntermediaryInboundExternalECStreamed"
        name="TT02_TEST" />
      <endpoint address="https://www.altinn.no/IntermediaryExternal/IntermediaryInboundExternalECStreamed.svc?bigiptestversion=true"
        binding="customBinding" bindingConfiguration="AltinnX509Streamed"
        contract="IntermediaryInboundStreamed.IIntermediaryInboundExternalECStreamed"
        name="PROD_TEST" />
      <endpoint address="https://www.altinn.no/IntermediaryExternal/IntermediaryInboundExternalECStreamed.svc"
        binding="customBinding" bindingConfiguration="AltinnX509Streamed"
        contract="IntermediaryInboundStreamed.IIntermediaryInboundExternalECStreamed"
        name="PROD" />
      <endpoint address="https://st01.ai.basefarm.net/IntermediaryExternal/IntermediaryInboundExternalEC.svc"
        binding="customBinding" bindingConfiguration="X509Binding" contract="IntermediaryInbound.IIntermediaryInboundExternalEC"
        name="ST01" />
      <endpoint address="https://st02.ai.basefarm.net/IntermediaryExternal/IntermediaryInboundExternalEC.svc"
        binding="customBinding" bindingConfiguration="X509Binding" contract="IntermediaryInbound.IIntermediaryInboundExternalEC"
        name="ST02" />
      <endpoint address="https://st03.ai.basefarm.net/IntermediaryExternal/IntermediaryInboundExternalEC.svc"
        binding="customBinding" bindingConfiguration="X509Binding" contract="IntermediaryInbound.IIntermediaryInboundExternalEC"
        name="ST03" />
      <endpoint address="https://at06.ai.basefarm.net/IntermediaryExternal/IntermediaryInboundExternalEC.svc"
        binding="customBinding" bindingConfiguration="X509Binding" contract="IntermediaryInbound.IIntermediaryInboundExternalEC"
        name="AT06" />
      <endpoint address="https://at08.ai.basefarm.net/IntermediaryExternal/IntermediaryInboundExternalEC.svc"
        binding="customBinding" bindingConfiguration="X509Binding" contract="IntermediaryInbound.IIntermediaryInboundExternalEC"
        name="AT08" />
      <endpoint address="https://tt02.altinn.no/IntermediaryExternal/IntermediaryInboundExternalEC.svc"
        binding="customBinding" bindingConfiguration="X509Binding" contract="IntermediaryInbound.IIntermediaryInboundExternalEC"
        name="TT02" />
      <endpoint address="https://tt02.altinn.no/IntermediaryExternal/IntermediaryInboundExternalEC.svc?bigiptestversion=true"
        binding="customBinding" bindingConfiguration="X509Binding" contract="IntermediaryInbound.IIntermediaryInboundExternalEC"
        name="TT02_TEST" />
      <endpoint address="https://www.altinn.no/IntermediaryExternal/IntermediaryInboundExternalEC.svc?bigiptestversion=true"
        binding="customBinding" bindingConfiguration="X509Binding" contract="IntermediaryInbound.IIntermediaryInboundExternalEC"
        name="PROD_TEST" />
      <endpoint address="https://www.altinn.no/IntermediaryExternal/IntermediaryInboundExternalEC.svc"
        binding="customBinding" bindingConfiguration="X509Binding" contract="IntermediaryInbound.IIntermediaryInboundExternalEC"
        name="PROD" />
      <endpoint address="https://localhost/IntermediaryExternal/ReceiptAgencyExternalEC.svc"
        binding="customBinding" bindingConfiguration="X509Binding" contract="ReceiptAgency.IReceiptAgencyExternalEC"
        name="DEV" />
      <endpoint address="https://st01.ai.basefarm.net/IntermediaryExternal/ReceiptAgencyExternalEC.svc"
        binding="customBinding" bindingConfiguration="X509Binding" contract="ReceiptAgency.IReceiptAgencyExternalEC"
        name="ST01" />
      <endpoint address="https://st03.ai.basefarm.net/IntermediaryExternal/ReceiptAgencyExternalEC.svc"
        binding="customBinding" bindingConfiguration="X509Binding" contract="ReceiptAgency.IReceiptAgencyExternalEC"
        name="ST03" />
      <endpoint address="https://at06.ai.basefarm.net/IntermediaryExternal/ReceiptAgencyExternalEC.svc"
        binding="customBinding" bindingConfiguration="X509Binding" contract="ReceiptAgency.IReceiptAgencyExternalEC"
        name="AT06" />
      <endpoint address="https://tt02.altinn.no/IntermediaryExternal/ReceiptAgencyExternalEC.svc"
        binding="customBinding" bindingConfiguration="X509Binding" contract="ReceiptAgency.IReceiptAgencyExternalEC"
        name="TT02" />
      <endpoint address="https://tt02.altinn.no/IntermediaryExternal/ReceiptAgencyExternalEC.svc?bigiptestversion=true"
        binding="customBinding" bindingConfiguration="X509Binding" contract="ReceiptAgency.IReceiptAgencyExternalEC"
        name="TT02_TEST" />
      <endpoint address="https://www.altinn.no/IntermediaryExternal/ReceiptAgencyExternalEC.svc?bigiptestversion=true"
        binding="customBinding" bindingConfiguration="X509Binding" contract="ReceiptAgency.IReceiptAgencyExternalEC"
        name="PROD_TEST" />
      <endpoint address="https://www.altinn.no/IntermediaryExternal/ReceiptAgencyExternalEC.svc"
        binding="customBinding" bindingConfiguration="X509Binding" contract="ReceiptAgency.IReceiptAgencyExternalEC"
        name="PROD" />
      <endpoint address="https://st01.ai.basefarm.net/IntermediaryExternal/ReceiptExternalEC.svc"
        binding="customBinding" bindingConfiguration="X509Binding" contract="Receipt.IReceiptExternalEC"
        name="ST01" />
      <endpoint address="https://st02.ai.basefarm.net/IntermediaryExternal/ReceiptExternalEC.svc"
        binding="customBinding" bindingConfiguration="X509Binding" contract="Receipt.IReceiptExternalEC"
        name="ST02" />
      <endpoint address="https://st03.ai.basefarm.net/IntermediaryExternal/ReceiptExternalEC.svc"
        binding="customBinding" bindingConfiguration="X509Binding" contract="Receipt.IReceiptExternalEC"
        name="ST03" />
      <endpoint address="https://at06.ai.basefarm.net/IntermediaryExternal/ReceiptExternalEC.svc"
        binding="customBinding" bindingConfiguration="X509Binding" contract="Receipt.IReceiptExternalEC"
        name="AT06" />
      <endpoint address="https://at08.ai.basefarm.net/IntermediaryExternal/ReceiptExternalEC.svc"
        binding="customBinding" bindingConfiguration="X509Binding" contract="Receipt.IReceiptExternalEC"
        name="AT08" />
      <endpoint address="https://tt02.altinn.no/IntermediaryExternal/ReceiptExternalEC.svc"
        binding="customBinding" bindingConfiguration="X509Binding" contract="Receipt.IReceiptExternalEC"
        name="TT02" />
      <endpoint address="https://tt02.altinn.no/IntermediaryExternal/ReceiptExternalEC.svc?bigiptestversion=true"
        binding="customBinding" bindingConfiguration="X509Binding" contract="Receipt.IReceiptExternalEC"
        name="TT02_TEST" />
      <endpoint address="https://www.altinn.no/IntermediaryExternal/ReceiptExternalEC.svc?bigiptestversion=true"
        binding="customBinding" bindingConfiguration="X509Binding" contract="Receipt.IReceiptExternalEC"
        name="PROD_TEST" />
      <endpoint address="https://www.altinn.no/IntermediaryExternal/ReceiptExternalEC.svc"
        binding="customBinding" bindingConfiguration="X509Binding" contract="Receipt.IReceiptExternalEC"
        name="PROD" />
      <endpoint address="https://st01.ai.basefarm.net/ServiceEngineExternal/CaseAgencySystemEC.svc"
        binding="customBinding" bindingConfiguration="X509Binding" contract="CaseAgencySystem.ICaseAgencySystemEC"
        name="ST01" />
      <endpoint address="https://at06.ai.basefarm.net/ServiceEngineExternal/CaseAgencySystemEC.svc"
        binding="customBinding" bindingConfiguration="X509Binding" contract="CaseAgencySystem.ICaseAgencySystemEC"
        name="AT06" />
      <endpoint address="https://tt02.altinn.no/ServiceEngineExternal/CaseAgencySystemEC.svc"
        binding="customBinding" bindingConfiguration="X509Binding" contract="CaseAgencySystem.ICaseAgencySystemEC"
        name="TT02" />
      <endpoint address="https://tt02.altinn.no/ServiceEngineExternal/CaseAgencySystemEC.svc?bigiptestversion=true"
        binding="customBinding" bindingConfiguration="X509Binding" contract="CaseAgencySystem.ICaseAgencySystemEC"
        name="TT02_TEST" />
      <endpoint address="https://www.altinn.no/ServiceEngineExternal/CaseAgencySystemEC.svc?bigiptestversion=true"
        binding="customBinding" bindingConfiguration="X509Binding" contract="CaseAgencySystem.ICaseAgencySystemEC"
        name="PROD_TEST" />
      <endpoint address="https://www.altinn.no/ServiceEngineExternal/CaseAgencySystemEC.svc"
        binding="customBinding" bindingConfiguration="X509Binding" contract="CaseAgencySystem.ICaseAgencySystemEC"
        name="PROD" />
      <endpoint address="https://st01.ai.basefarm.net/ServiceEngineExternal/CaseEC.svc"
        binding="customBinding" bindingConfiguration="X509Binding" contract="Case.ICaseEC"
        name="ST01" />
      <endpoint address="https://at06.ai.basefarm.net/ServiceEngineExternal/CaseEC.svc"
        binding="customBinding" bindingConfiguration="X509Binding" contract="Case.ICaseEC"
        name="AT06" />
      <endpoint address="https://tt02.altinn.no/ServiceEngineExternal/CaseEC.svc"
        binding="customBinding" bindingConfiguration="X509Binding" contract="Case.ICaseEC"
        name="TT02" />
      <endpoint address="https://tt02.altinn.no/ServiceEngineExternal/CaseEC.svc?bigiptestversion=true"
        binding="customBinding" bindingConfiguration="X509Binding" contract="Case.ICaseEC"
        name="TT02_TEST" />
      <endpoint address="https://www.altinn.no/ServiceEngineExternal/CaseEC.svc?bigiptestversion=true"
        binding="customBinding" bindingConfiguration="X509Binding" contract="Case.ICaseEC"
        name="PROD_TEST" />
      <endpoint address="https://www.altinn.no/ServiceEngineExternal/CaseEC.svc"
        binding="customBinding" bindingConfiguration="X509Binding" contract="Case.ICaseEC"
        name="PROD" />
      <endpoint address="https://localhost/ServiceEngineExternal/CorrespondenceAgencyExternalEC.svc"
        binding="customBinding" bindingConfiguration="X509Binding" contract="CorrespondenceAgency.ICorrespondenceAgencyExternalEC"
        name="DEV" />
      <endpoint address="https://st01.ai.basefarm.net/ServiceEngineExternal/CorrespondenceAgencyExternalEC.svc"
        binding="customBinding" bindingConfiguration="X509Binding" contract="CorrespondenceAgency.ICorrespondenceAgencyExternalEC"
        name="ST01" />
      <endpoint address="https://at06.ai.basefarm.net/ServiceEngineExternal/CorrespondenceAgencyExternalEC.svc"
        binding="customBinding" bindingConfiguration="X509Binding" contract="CorrespondenceAgency.ICorrespondenceAgencyExternalEC"
        name="AT06" />
      <endpoint address="https://tt02.altinn.no/ServiceEngineExternal/CorrespondenceAgencyExternalEC.svc"
        binding="customBinding" bindingConfiguration="X509Binding" contract="CorrespondenceAgency.ICorrespondenceAgencyExternalEC"
        name="TT02" />
      <endpoint address="https://tt02.altinn.no/ServiceEngineExternal/CorrespondenceAgencyExternalEC.svc?bigiptestversion=true"
        binding="customBinding" bindingConfiguration="X509Binding" contract="CorrespondenceAgency.ICorrespondenceAgencyExternalEC"
        name="TT02_TEST" />
      <endpoint address="https://www.altinn.no/ServiceEngineExternal/CorrespondenceAgencyExternalEC.svc?bigiptestversion=true"
        binding="customBinding" bindingConfiguration="X509Binding" contract="CorrespondenceAgency.ICorrespondenceAgencyExternalEC"
        name="PROD_TEST" />
      <endpoint address="https://www.altinn.no/ServiceEngineExternal/CorrespondenceAgencyExternalEC.svc"
        binding="customBinding" bindingConfiguration="X509Binding" contract="CorrespondenceAgency.ICorrespondenceAgencyExternalEC"
        name="PROD" />
      <endpoint address="https://st01.ai.basefarm.net/ServiceEngineExternal/CorrespondenceExternalEC.svc"
        binding="customBinding" bindingConfiguration="X509Binding" contract="Correspondence.ICorrespondenceExternalEC"
        name="ST01" />
      <endpoint address="https://st02.ai.basefarm.net/ServiceEngineExternal/CorrespondenceExternalEC.svc"
        binding="customBinding" bindingConfiguration="X509Binding" contract="Correspondence.ICorrespondenceExternalEC"
        name="ST02" />
      <endpoint address="https://at06.ai.basefarm.net/ServiceEngineExternal/CorrespondenceExternalEC.svc"
        binding="customBinding" bindingConfiguration="X509Binding" contract="Correspondence.ICorrespondenceExternalEC"
        name="AT06" />
      <endpoint address="https://tt02.altinn.no/ServiceEngineExternal/CorrespondenceExternalEC.svc"
        binding="customBinding" bindingConfiguration="X509Binding" contract="Correspondence.ICorrespondenceExternalEC"
        name="TT02" />
      <endpoint address="https://tt02.altinn.no/ServiceEngineExternal/CorrespondenceExternalEC.svc?bigiptestversion=true"
        binding="customBinding" bindingConfiguration="X509Binding" contract="Correspondence.ICorrespondenceExternalEC"
        name="TT02_TEST" />
      <endpoint address="https://www.altinn.no/ServiceEngineExternal/CorrespondenceExternalEC.svc?bigiptestversion=true"
        binding="customBinding" bindingConfiguration="X509Binding" contract="Correspondence.ICorrespondenceExternalEC"
        name="PROD_TEST" />
      <endpoint address="https://www.altinn.no/ServiceEngineExternal/CorrespondenceExternalEC.svc"
        binding="customBinding" bindingConfiguration="X509Binding" contract="Correspondence.ICorrespondenceExternalEC"
        name="PROD" />
      <endpoint address="https://st01.ai.basefarm.net/ServiceEngineExternal/NotificationAgencyExternalEC.svc"
        binding="customBinding" bindingConfiguration="X509Binding" contract="NotificationAgency.INotificationAgencyExternalEC"
        name="ST01" />
      <endpoint address="https://at06.ai.basefarm.net/ServiceEngineExternal/NotificationAgencyExternalEC.svc"
        binding="customBinding" bindingConfiguration="X509Binding" contract="NotificationAgency.INotificationAgencyExternalEC"
        name="AT06" />
      <endpoint address="https://tt02.altinn.no/ServiceEngineExternal/NotificationAgencyExternalEC.svc"
        binding="customBinding" bindingConfiguration="X509Binding" contract="NotificationAgency.INotificationAgencyExternalEC"
        name="TT02" />
      <endpoint address="https://tt02.altinn.no/ServiceEngineExternal/NotificationAgencyExternalEC.svc?bigiptestversion=true"
        binding="customBinding" bindingConfiguration="X509Binding" contract="NotificationAgency.INotificationAgencyExternalEC"
        name="TT02_TEST" />
      <endpoint address="https://www.altinn.no/ServiceEngineExternal/NotificationAgencyExternalEC.svc?bigiptestversion=true"
        binding="customBinding" bindingConfiguration="X509Binding" contract="NotificationAgency.INotificationAgencyExternalEC"
        name="PROD_TEST" />
      <endpoint address="https://www.altinn.no/ServiceEngineExternal/NotificationAgencyExternalEC.svc"
        binding="customBinding" bindingConfiguration="X509Binding" contract="NotificationAgency.INotificationAgencyExternalEC"
        name="PROD" />
      <endpoint address="https://st01.ai.basefarm.net/ServiceEngineExternal/PreFillAgencyExternalEC.svc"
        binding="customBinding" bindingConfiguration="X509Binding" contract="PrefillAgency.IPreFillAgencyExternalEC"
        name="ST01" />
      <endpoint address="https://at06.ai.basefarm.net/ServiceEngineExternal/PreFillAgencyExternalEC.svc"
        binding="customBinding" bindingConfiguration="X509Binding" contract="PrefillAgency.IPreFillAgencyExternalEC"
        name="AT06" />
      <endpoint address="https://tt02.altinn.no/ServiceEngineExternal/PreFillAgencyExternalEC.svc"
        binding="customBinding" bindingConfiguration="X509Binding" contract="PrefillAgency.IPreFillAgencyExternalEC"
        name="TT02" />
      <endpoint address="https://st01.ai.basefarm.net/ServiceEngineExternal/PreFillEUSExternalEC.svc"
        binding="customBinding" bindingConfiguration="X509Binding" contract="PrefillEUS.IPreFillEUSExternalEC"
        name="ST01" />
      <endpoint address="https://at06.ai.basefarm.net/ServiceEngineExternal/PreFillEUSExternalEC.svc"
        binding="customBinding" bindingConfiguration="X509Binding" contract="PrefillEUS.IPreFillEUSExternalEC"
        name="AT06" />
      <endpoint address="https://tt02.altinn.no/ServiceEngineExternal/PreFillEUSExternalEC.svc"
        binding="customBinding" bindingConfiguration="X509Binding" contract="PrefillEUS.IPreFillEUSExternalEC"
        name="TT02" />
      <endpoint address="https://tt02.altinn.no/ServiceEngineExternal/PreFillEUSExternalEC.svc?bigiptestversion=true"
        binding="customBinding" bindingConfiguration="X509Binding" contract="PrefillEUS.IPreFillEUSExternalEC"
        name="TT02_TEST" />
      <endpoint address="https://www.altinn.no/ServiceEngineExternal/PreFillEUSExternalEC.svc?bigiptestversion=true"
        binding="customBinding" bindingConfiguration="X509Binding" contract="PrefillEUS.IPreFillEUSExternalEC"
        name="PROD_TEST" />
      <endpoint address="https://www.altinn.no/ServiceEngineExternal/PreFillEUSExternalEC.svc"
        binding="customBinding" bindingConfiguration="X509Binding" contract="PrefillEUS.IPreFillEUSExternalEC"
        name="PROD" />
      <endpoint address="https://st01.ai.basefarm.net/ServiceEngineExternal/ReporteeElementListEC.svc"
        binding="customBinding" bindingConfiguration="X509Binding" contract="ReporteeElementList.IReporteeElementListEC"
        name="ST01" />
      <endpoint address="https://at06.ai.basefarm.net/ServiceEngineExternal/ReporteeElementListEC.svc"
        binding="customBinding" bindingConfiguration="X509Binding" contract="ReporteeElementList.IReporteeElementListEC"
        name="AT06" />
      <endpoint address="https://tt02.altinn.no/ServiceEngineExternal/ReporteeElementListEC.svc"
        binding="customBinding" bindingConfiguration="X509Binding" contract="ReporteeElementList.IReporteeElementListEC"
        name="TT02" />
      <endpoint address="https://tt02.altinn.no/ServiceEngineExternal/ReporteeElementListEC.svc?bigiptestversion=true"
        binding="customBinding" bindingConfiguration="X509Binding" contract="ReporteeElementList.IReporteeElementListEC"
        name="TT02_TEST" />
      <endpoint address="https://www.altinn.no/ServiceEngineExternal/ReporteeElementListEC.svc?bigiptestversion=true"
        binding="customBinding" bindingConfiguration="X509Binding" contract="ReporteeElementList.IReporteeElementListEC"
        name="PROD_TEST" />
      <endpoint address="https://www.altinn.no/ServiceEngineExternal/ReporteeElementListEC.svc"
        binding="customBinding" bindingConfiguration="X509Binding" contract="ReporteeElementList.IReporteeElementListEC"
        name="PROD" />
      <endpoint address="https://st01.ai.basefarm.net/ServiceEngineExternal/SubscriptionAgencyExternalEC.svc"
        binding="customBinding" bindingConfiguration="X509Binding" contract="SubscriptionAgency.ISubscriptionAgencyExternalEC"
        name="ST01" />
      <endpoint address="https://at06.ai.basefarm.net/ServiceEngineExternal/SubscriptionAgencyExternalEC.svc"
        binding="customBinding" bindingConfiguration="X509Binding" contract="SubscriptionAgency.ISubscriptionAgencyExternalEC"
        name="AT06" />
      <endpoint address="https://tt02.altinn.no/ServiceEngineExternal/SubscriptionAgencyExternalEC.svc"
        binding="customBinding" bindingConfiguration="X509Binding" contract="SubscriptionAgency.ISubscriptionAgencyExternalEC"
        name="TT02" />
      <endpoint address="https://st01.ai.basefarm.net/ServiceEngineExternal/ContextHandlerEC.svc"
        binding="customBinding" bindingConfiguration="X509Binding" contract="ContextHandler.IContextHandlerEC"
        name="ST01" />
      <endpoint address="https://at06.ai.basefarm.net/ServiceEngineExternal/ContextHandlerEC.svc"
        binding="customBinding" bindingConfiguration="X509Binding" contract="ContextHandler.IContextHandlerEC"
        name="AT06" />
      <endpoint address="https://tt02.altinn.no/ServiceEngineExternal/ContextHandlerEC.svc"
        binding="customBinding" bindingConfiguration="X509Binding" contract="ContextHandler.IContextHandlerEC"
        name="TT02" />
      <endpoint address="https://st03.ai.basefarm.net/ServiceEngineExternal/BrokerServiceExternalECStreamed.svc"
        binding="customBinding" bindingConfiguration="AltinnX509Streamed"
        contract="BrokerServiceStreamed.IBrokerServiceExternalECStreamed"
        name="ST3" />
      <endpoint address="https://st03.ai.basefarm.net/ServiceEngineExternal/BrokerServiceExternalEC.svc"
        binding="customBinding" bindingConfiguration="X509Binding" contract="BrokerService.IBrokerServiceExternalEC"
        name="ST3" />
      <endpoint address="https://st01.ai.basefarm.net/IntermediaryExternal/BatchLoggingAgencyExternalEC.svc"
        binding="customBinding" bindingConfiguration="AltinnX509Streamed"
        contract="BatchLoggingAgency.IBatchLoggingAgencyExternalEC"
        name="ST1" />
      <endpoint address="https://st02.ai.basefarm.net/IntermediaryExternal/BatchLoggingAgencyExternalEC.svc"
        binding="customBinding" bindingConfiguration="AltinnX509Streamed"
        contract="BatchLoggingAgency.IBatchLoggingAgencyExternalEC"
        name="ST2" />
      <endpoint address="https://st03.ai.basefarm.net/IntermediaryExternal/BatchLoggingAgencyExternalEC.svc"
        binding="customBinding" bindingConfiguration="AltinnX509Streamed"
        contract="BatchLoggingAgency.IBatchLoggingAgencyExternalEC"
        name="ST3" />
      <endpoint address="https://at07.ai.basefarm.net/IntermediaryExternal/BatchLoggingAgencyExternalEC.svc"
        binding="customBinding" bindingConfiguration="AltinnX509Streamed"
        contract="BatchLoggingAgency.IBatchLoggingAgencyExternalEC"
        name="AT7" />
      <endpoint address="https://tt02.altinn.no/IntermediaryExternal/BatchLoggingAgencyExternalEC.svc"
        binding="customBinding" bindingConfiguration="AltinnX509Streamed"
        contract="BatchLoggingAgency.IBatchLoggingAgencyExternalEC"
        name="TT2" />
      <endpoint address="https://www.altinn.no/IntermediaryExternal/BatchLoggingAgencyExternalEC.svc"
        binding="customBinding" bindingConfiguration="AltinnX509Streamed"
        contract="BatchLoggingAgency.IBatchLoggingAgencyExternalEC"
        name="PROD" />
      <endpoint address="https://st02.ai.basefarm.net/ServiceEngineExternal/LookUpExternalEC.svc"
        binding="customBinding" bindingConfiguration="X509Binding" contract="LookUp.ILookUpExternalEC"
        name="ST02" />
      <endpoint address="https://at08.ai.basefarm.net/ServiceEngineExternal/LookUpExternalEC.svc"
        binding="customBinding" bindingConfiguration="X509Binding" contract="LookUp.ILookUpExternalEC"
        name="AT08" />
      <endpoint address="https://st02.ai.basefarm.net/AuthorizationExternal/TokenExternalEC.svc"
        binding="customBinding" bindingConfiguration="X509Binding" contract="Token.IAuthorizationTokenExternalEC"
        name="ST02" />
      <endpoint address="https://at08.ai.basefarm.net/AuthorizationExternal/TokenExternalEC.svc"
        binding="customBinding" bindingConfiguration="X509Binding" contract="Token.IAuthorizationTokenExternalEC"
        name="AT08" />
      <endpoint address="https://localhost/ServiceEngineExternal/CorrespondenceAgencyExternalAEC.svc"
        binding="customBinding" bindingConfiguration="X509Binding" contract="CorrespondenceAgencyNoSystem.ICorrespondenceAgencyExternalAEC"
        name="DEV" />
      <endpoint address="https://st01.ai.basefarm.net/ServiceEngineExternal/CorrespondenceAgencyExternalAEC.svc"
        binding="customBinding" bindingConfiguration="X509Binding" contract="CorrespondenceAgencyNoSystem.ICorrespondenceAgencyExternalAEC"
        name="ST1" />
      <endpoint address="https://st01.ai.basefarm.net/ServiceEngineExternal/CorrespondenceAgencyExternalAEC.svc"
        binding="customBinding" bindingConfiguration="X509Binding" contract="CorrespondenceAgencyNoSystem.ICorrespondenceAgencyExternalAEC"
        name="NyST1" />
      <endpoint address="https://at07.ai.basefarm.net/ServiceEngineExternal/CorrespondenceAgencyExternalAEC.svc"
        binding="customBinding" bindingConfiguration="X509Binding" contract="CorrespondenceAgencyNoSystem.ICorrespondenceAgencyExternalAEC"
        name="AT07" />
      <endpoint address="https://tt02.altinn.no/ServiceEngineExternal/CorrespondenceAgencyExternalAEC.svc"
        binding="customBinding" bindingConfiguration="X509Binding" contract="CorrespondenceAgencyNoSystem.ICorrespondenceAgencyExternalAEC"
        name="TT02" />
      <endpoint address="https://localhost:4443/ServiceEngineExternal/CorrespondenceAgencyExternalEC.svc"
        binding="wsHttpBinding" bindingConfiguration="CustomBinding_ICorrespondenceAgencyExternalEC"
        contract="CorrespondenceAgency.ICorrespondenceAgencyExternalEC"
        name="CustomBinding_ICorrespondenceAgencyExternalEC" />
      <endpoint address="https://localhost:4443/ServiceEngineExternal/CorrespondenceAgencyExternalAEC.svc"
        binding="wsHttpBinding" bindingConfiguration="CustomBinding_ICorrespondenceAgencyExternalAEC"
        contract="CorrespondenceAgencyNoSystem.ICorrespondenceAgencyExternalAEC"
        name="CustomBinding_ICorrespondenceAgencyExternalAEC" />
    </client>
  </system.serviceModel>
  <appSettings>
    <add key="SpiCertificateThumbprint" value="9971b2d97112f56ddbf5b7964ca7dfe577107f54"/>
    <add key="AppKeyServers"/>
  </appSettings>
</configuration>