<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="EcClientConfiguration" type="EC_Endpoint_Client.Configuration.EcClientConfiguration, EC Endpoint Client"></section>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
	</startup>
	<EcClientConfiguration>
		<EnvironmentUrlCollection>
			<EnvironmentUrl name="DEV" address="https://devenv.altinn.no:443/"/>
			<EnvironmentUrl name="DEV Https" address="https://localhostapi:44/" ignoreinwcf="true"/>
			<EnvironmentUrl name="AT1" address="https://at01.ai.basefarm.net/"/>
			<EnvironmentUrl name="AT2" address="https://at02.ai.basefarm.net/"/>
			<EnvironmentUrl name="AT3" address="https://at03.ai.basefarm.net/"/>
			<EnvironmentUrl name="AT4" address="https://at04.ai.basefarm.net/"/>
			<EnvironmentUrl name="AT5" address="https://at05.ai.basefarm.net/"/>
      <EnvironmentUrl name="AT22" address="https://at22.altinn.cloud/"/>
			<EnvironmentUrl name="TT2" address="https://tt02.altinn.no/"/>
		  <EnvironmentUrl name="TT2 Testløp" address="https://tt02.altinn.no/" usetestmode="true"/>
		  <EnvironmentUrl name="TT2 Prodløp" address="https://tt02.altinn.no/" usetestmode="false"/>
			<EnvironmentUrl name="PROD" address="https://www.altinn.no/"/>
		  <EnvironmentUrl name="PROD Testløp" address="https://www.altinn.no/" usetestmode="true"/>
		  <EnvironmentUrl name="PROD Prodløp" address="https://www.altinn.no/" usetestmode="false"/>      
    </EnvironmentUrlCollection>
	</EcClientConfiguration>
	<system.diagnostics>
		<sources>
			<source name="System.ServiceModel" switchValue="All" propagateActivity="true">
				<listeners>
					<add name="xml"/>
				</listeners>
			</source>
			<source name="System.ServiceModel.MessageLogging" switchValue="All">
				<listeners>
					<add name="xml"/>
				</listeners>
			</source>
			<source name="Microsoft.IdentityModel" switchValue="All">
				<listeners>
					<add name="xml" type="System.Diagnostics.XmlWriterTraceListener" initializeData="WIFTrace.e2e"/>
				</listeners>
			</source>
		</sources>
		<sharedListeners>
			<add initializeData="Accounts.svclog" type="System.Diagnostics.XmlWriterTraceListener" name="xml"/>
		</sharedListeners>
	</system.diagnostics>

	<system.serviceModel>
		<diagnostics>
			<messageLogging logEntireMessage="true" logMalformedMessages="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" maxMessagesToLog="10000" maxSizeOfMessageToLog="1000000"/>
		</diagnostics>
		<bindings>
   <customBinding>
    <binding name="X509Binding">
     <security defaultAlgorithmSuite="Default" authenticationMode="SecureConversation"
      requireDerivedKeys="true" securityHeaderLayout="Strict" includeTimestamp="true"
      keyEntropyMode="CombinedEntropy" messageProtectionOrder="SignBeforeEncrypt"
      messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10"
      requireSecurityContextCancellation="true" requireSignatureConfirmation="true">
      <secureConversationBootstrap authenticationMode="CertificateOverTransport"
       requireDerivedKeys="false" />
      <localClientSettings cacheCookies="true" detectReplays="false"
       replayCacheSize="900000" maxClockSkew="00:05:00" replayWindow="00:05:00"
       sessionKeyRenewalInterval="10:00:00" sessionKeyRolloverInterval="00:05:00"
       reconnectTransportOnFailure="true" timestampValidityDuration="00:05:00"
       cookieRenewalThresholdPercentage="60" />
      <localServiceSettings detectReplays="false" issuedCookieLifetime="10:00:00"
       maxStatefulNegotiations="128" replayCacheSize="900000" maxClockSkew="00:05:00"
       negotiationTimeout="00:01:00" replayWindow="00:05:00" inactivityTimeout="00:02:00"
       sessionKeyRenewalInterval="15:00:00" sessionKeyRolloverInterval="00:05:00"
       reconnectTransportOnFailure="true" maxPendingSessions="128" maxCachedCookies="1000"
       timestampValidityDuration="00:05:00" />
     </security>
     <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
      messageVersion="Default" writeEncoding="utf-8">
      <readerQuotas maxDepth="320" maxStringContentLength="2147483647"
       maxArrayLength="2147483647" maxBytesPerRead="40960" maxNameTableCharCount="163840" />
     </textMessageEncoding>
     <httpsTransport maxReceivedMessageSize="2147483647" />
    </binding>
    <binding name="X509EC2Binding">
     <security defaultAlgorithmSuite="Default" authenticationMode="SecureConversation"
      requireDerivedKeys="false" securityHeaderLayout="Strict" includeTimestamp="true"
      keyEntropyMode="CombinedEntropy" messageProtectionOrder="SignBeforeEncrypt"
      messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10"
      requireSecurityContextCancellation="false" requireSignatureConfirmation="true">
      <secureConversationBootstrap authenticationMode="CertificateOverTransport"
       requireDerivedKeys="false" />
      <localClientSettings cacheCookies="true" detectReplays="false"
       replayCacheSize="900000" maxClockSkew="00:05:00" replayWindow="00:05:00"
       sessionKeyRenewalInterval="10:00:00" sessionKeyRolloverInterval="00:05:00"
       reconnectTransportOnFailure="true" timestampValidityDuration="00:05:00"
       cookieRenewalThresholdPercentage="60" />
      <localServiceSettings detectReplays="false" issuedCookieLifetime="10:00:00"
       maxStatefulNegotiations="128" replayCacheSize="900000" maxClockSkew="00:05:00"
       negotiationTimeout="00:01:00" replayWindow="00:05:00" inactivityTimeout="00:02:00"
       sessionKeyRenewalInterval="15:00:00" sessionKeyRolloverInterval="00:05:00"
       reconnectTransportOnFailure="true" maxPendingSessions="128" maxCachedCookies="1000"
       timestampValidityDuration="00:05:00" />
     </security>
     <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
      messageVersion="Default" writeEncoding="utf-8">
      <readerQuotas maxDepth="320" maxStringContentLength="2147483647"
       maxArrayLength="2147483647" maxBytesPerRead="40960" maxNameTableCharCount="163840" />
     </textMessageEncoding>
     <httpsTransport maxReceivedMessageSize="2147483647" />
    </binding>
    <binding name="AltinnX509CertBindingMTOM" sendTimeout="00:20:00">
     <security defaultAlgorithmSuite="Default" authenticationMode="SecureConversation"
      requireDerivedKeys="true" securityHeaderLayout="Strict" includeTimestamp="true"
      keyEntropyMode="CombinedEntropy" messageProtectionOrder="SignBeforeEncrypt"
      messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10"
      requireSecurityContextCancellation="true" requireSignatureConfirmation="true">
      <secureConversationBootstrap authenticationMode="CertificateOverTransport"
       requireDerivedKeys="false" />
      <localClientSettings cacheCookies="true" detectReplays="false"
       replayCacheSize="900000" maxClockSkew="00:05:00" replayWindow="00:05:00"
       sessionKeyRenewalInterval="10:00:00" sessionKeyRolloverInterval="00:05:00"
       reconnectTransportOnFailure="true" timestampValidityDuration="00:05:00"
       cookieRenewalThresholdPercentage="60" />
      <localServiceSettings detectReplays="false" issuedCookieLifetime="10:00:00"
       maxStatefulNegotiations="128" replayCacheSize="900000" maxClockSkew="00:05:00"
       negotiationTimeout="00:01:00" replayWindow="00:05:00" inactivityTimeout="00:02:00"
       sessionKeyRenewalInterval="15:00:00" sessionKeyRolloverInterval="00:05:00"
       reconnectTransportOnFailure="true" maxPendingSessions="128" maxCachedCookies="1000"
       timestampValidityDuration="00:05:00" />
     </security>
     <mtomMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
      messageVersion="Default" writeEncoding="utf-8">
      <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
       maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
     </mtomMessageEncoding>
     <httpsTransport maxReceivedMessageSize="6553006" />
    </binding>
    <binding name="AltinnX509EC2CertBindingMTOM" sendTimeout="00:20:00">
     <security defaultAlgorithmSuite="Default" authenticationMode="SecureConversation"
      requireDerivedKeys="false" securityHeaderLayout="Strict" includeTimestamp="true"
      keyEntropyMode="CombinedEntropy" messageProtectionOrder="SignBeforeEncrypt"
      messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10"
      requireSecurityContextCancellation="false" requireSignatureConfirmation="true">
      <secureConversationBootstrap authenticationMode="CertificateOverTransport"
       requireDerivedKeys="false" />
      <localClientSettings cacheCookies="true" detectReplays="false"
       replayCacheSize="900000" maxClockSkew="00:05:00" replayWindow="00:05:00"
       sessionKeyRenewalInterval="10:00:00" sessionKeyRolloverInterval="00:05:00"
       reconnectTransportOnFailure="true" timestampValidityDuration="00:05:00"
       cookieRenewalThresholdPercentage="60" />
      <localServiceSettings detectReplays="false" issuedCookieLifetime="10:00:00"
       maxStatefulNegotiations="128" replayCacheSize="900000" maxClockSkew="00:05:00"
       negotiationTimeout="00:01:00" replayWindow="00:05:00" inactivityTimeout="00:02:00"
       sessionKeyRenewalInterval="15:00:00" sessionKeyRolloverInterval="00:05:00"
       reconnectTransportOnFailure="true" maxPendingSessions="128" maxCachedCookies="1000"
       timestampValidityDuration="00:05:00" />
     </security>
     <mtomMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
      messageVersion="Default" writeEncoding="utf-8">
      <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
       maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
     </mtomMessageEncoding>
     <httpsTransport maxReceivedMessageSize="6553006" />
    </binding>
    <binding name="AltinnX509Streamed" sendTimeout="00:20:00">
     <security defaultAlgorithmSuite="Default" authenticationMode="SecureConversation"
      requireDerivedKeys="true" securityHeaderLayout="Strict" includeTimestamp="true"
      allowInsecureTransport="true" keyEntropyMode="CombinedEntropy"
      messageProtectionOrder="SignBeforeEncrypt" messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10"
      requireSecurityContextCancellation="true" requireSignatureConfirmation="true">
      <secureConversationBootstrap authenticationMode="CertificateOverTransport"
       requireDerivedKeys="false" />
      <localClientSettings cacheCookies="true" detectReplays="false"
       replayCacheSize="900000" maxClockSkew="00:05:00" replayWindow="00:05:00"
       sessionKeyRenewalInterval="10:00:00" sessionKeyRolloverInterval="00:05:00"
       reconnectTransportOnFailure="true" timestampValidityDuration="00:05:00"
       cookieRenewalThresholdPercentage="60" />
      <localServiceSettings detectReplays="false" issuedCookieLifetime="10:00:00"
       maxStatefulNegotiations="128" replayCacheSize="900000" maxClockSkew="00:05:00"
       negotiationTimeout="00:01:00" replayWindow="00:05:00" inactivityTimeout="00:02:00"
       sessionKeyRenewalInterval="15:00:00" sessionKeyRolloverInterval="00:05:00"
       reconnectTransportOnFailure="true" maxPendingSessions="128" maxCachedCookies="1000"
       timestampValidityDuration="00:05:00" />
     </security>
     <mtomMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
      messageVersion="Default" writeEncoding="utf-8">
      <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
       maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
     </mtomMessageEncoding>
     <httpsTransport maxReceivedMessageSize="6553006" />
    </binding>
    <binding name="AltinnX509EC2Streamed" sendTimeout="00:20:00">
     <security defaultAlgorithmSuite="Default" authenticationMode="SecureConversation"
      requireDerivedKeys="false" securityHeaderLayout="Strict" includeTimestamp="true"
      allowInsecureTransport="true" keyEntropyMode="CombinedEntropy"
      messageProtectionOrder="SignBeforeEncrypt" messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10"
      requireSecurityContextCancellation="false" requireSignatureConfirmation="true">
      <secureConversationBootstrap authenticationMode="CertificateOverTransport"
       requireDerivedKeys="false" />
      <localClientSettings cacheCookies="true" detectReplays="false"
       replayCacheSize="900000" maxClockSkew="00:05:00" replayWindow="00:05:00"
       sessionKeyRenewalInterval="10:00:00" sessionKeyRolloverInterval="00:05:00"
       reconnectTransportOnFailure="true" timestampValidityDuration="00:05:00"
       cookieRenewalThresholdPercentage="60" />
      <localServiceSettings detectReplays="false" issuedCookieLifetime="10:00:00"
       maxStatefulNegotiations="128" replayCacheSize="900000" maxClockSkew="00:05:00"
       negotiationTimeout="00:01:00" replayWindow="00:05:00" inactivityTimeout="00:02:00"
       sessionKeyRenewalInterval="15:00:00" sessionKeyRolloverInterval="00:05:00"
       reconnectTransportOnFailure="true" maxPendingSessions="128" maxCachedCookies="1000"
       timestampValidityDuration="00:05:00" />
     </security>
     <mtomMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
      messageVersion="Default" writeEncoding="utf-8">
      <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
       maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
     </mtomMessageEncoding>
     <httpsTransport maxReceivedMessageSize="6553006" />
    </binding>
    </customBinding>
  </bindings>
		<behaviors>
			<endpointBehaviors>
				<behavior name="CustomBehavior">
					<clientCredentials>
						<!-- 9971B2D97112F56DDBF5B7964CA7DFE577107F54 29A3E58B4453B944EBFEB42B54986C042580FB69 9BBE8A114B1CF13A6CC1A5D88B363F1DEE5689D8 3392adb1c237a597aefb071d6b8e38f6371ba71c     9bbe8a114b1cf13a6cc1a5d88b363f1dee5689d8   95d43190e2f6a4ca5a8035d4af0d4be92e015608   3636e9bd1b32a1da1a43e34eb8de637289c03345-->
						<clientCertificate x509FindType="FindByThumbprint" findValue="9971B2D97112F56DDBF5B7964CA7DFE577107F54" storeName="My" storeLocation="CurrentUser"/>
						<serviceCertificate>
							<authentication certificateValidationMode="ChainTrust" revocationMode="NoCheck" trustedStoreLocation="LocalMachine"/>
						</serviceCertificate>
					</clientCredentials>
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<client>
   <endpoint address="https://st01.ai.basefarm.net/ArchiveExternal/ArchiveCommonAgencyExternalEC.svc"
    binding="customBinding" bindingConfiguration="X509Binding" contract="ArchiveCommonAgency.IArchiveCommonAgencyExternalEC" />
   <endpoint address="https://st02.ai.basefarm.net/ArchiveExternal/DownloadQueueExternalEC.svc"
    binding="customBinding" bindingConfiguration="AltinnX509CertBindingMTOM"
    contract="DownloadQueue.IDownloadQueueExternalEC" />
   <endpoint address="https://st01.ai.basefarm.net/ArchiveExternal/KeyManagementEC.svc"
    binding="customBinding" bindingConfiguration="X509Binding" contract="KeyManagement.IKeyManagementExternalEC"
    name="ST01" />
   <endpoint address="https://st01.ai.basefarm.net/ArchiveExternal/ReporteeArchiveExternalEC.svc"
    binding="customBinding" bindingConfiguration="X509Binding" contract="ReporteeArchive.IReporteeArchiveExternalEC"
    name="ST01" />
   <endpoint address="https://st01.ai.basefarm.net/ArchiveExternal/ReporteeArchiveExternalStreamedEC.svc"
    binding="customBinding" bindingConfiguration="AltinnX509Streamed"
    contract="ReporteeArchiveStreamed.IReporteeArchiveExternalStreamedEC" />
   <endpoint address="https://st01.ai.basefarm.net/ArchiveExternal/ServiceOwnerArchiveExternalEC.svc"
    binding="customBinding" bindingConfiguration="X509Binding" contract="SOArchive.IServiceOwnerArchiveExternalEC"
    name="ST01" />
   <endpoint address="https://st01.ai.basefarm.net/ArchiveExternal/ServiceOwnerArchiveExternalStreamedEC.svc"
    binding="customBinding" bindingConfiguration="AltinnX509Streamed"
    contract="SOArchiveStreamed.IServiceOwnerArchiveExternalStreamedEC" />
   <endpoint address="https://st01.ai.basefarm.net/AuthorizationExternal/AdministrationExternalEC.svc"
    binding="customBinding" bindingConfiguration="X509Binding" contract="Administration.IAuthorizationAdministrationEC" />
   <endpoint address="https://st01.ai.basefarm.net/IntermediaryExternal/IntermediaryInboundExternalECStreamed.svc"
    binding="customBinding" bindingConfiguration="AltinnX509Streamed"
    contract="IntermediaryInboundStreamed.IIntermediaryInboundExternalECStreamed" />
   <endpoint address="https://st01.ai.basefarm.net/IntermediaryExternal/IntermediaryInboundExternalEC.svc?bigiptestversion=true"
    binding="customBinding" bindingConfiguration="X509Binding" contract="IntermediaryInbound.IIntermediaryInboundExternalEC" />
   <endpoint address="https://st01.ai.basefarm.net/IntermediaryExternal/ReceiptAgencyExternalEC.svc"
    binding="customBinding" bindingConfiguration="X509Binding" contract="ReceiptAgency.IReceiptAgencyExternalEC" />
   <endpoint address="https://st01.ai.basefarm.net/IntermediaryExternal/ReceiptExternalEC.svc"
    binding="customBinding" bindingConfiguration="X509Binding" contract="Receipt.IReceiptExternalEC" />
   <endpoint address="https://st01.ai.basefarm.net/ServiceEngineExternal/CaseAgencySystemEC.svc"
    binding="customBinding" bindingConfiguration="X509Binding" contract="CaseAgencySystem.ICaseAgencySystemEC" />
   <endpoint address="https://st01.ai.basefarm.net/ServiceEngineExternal/CaseEC.svc"
    binding="customBinding" bindingConfiguration="X509Binding" contract="Case.ICaseEC" />
   <endpoint address="https://st01.ai.basefarm.net/ServiceEngineExternal/CorrespondenceAgencyExternalEC.svc"
    binding="customBinding" bindingConfiguration="X509Binding" contract="CorrespondenceAgency.ICorrespondenceAgencyExternalEC" />
   <endpoint address="https://st01.ai.basefarm.net/ServiceEngineExternal/CorrespondenceExternalEC.svc"
    binding="customBinding" bindingConfiguration="X509Binding" contract="Correspondence.ICorrespondenceExternalEC" />
   <endpoint address="https://st01.ai.basefarm.net/ServiceEngineExternal/NotificationAgencyExternalEC.svc"
    binding="customBinding" bindingConfiguration="X509Binding" contract="NotificationAgency.INotificationAgencyExternalEC" />
   <endpoint address="https://st01.ai.basefarm.net/ServiceEngineExternal/PreFillAgencyExternalEC.svc"
    binding="customBinding" bindingConfiguration="X509Binding" contract="PrefillAgency.IPreFillAgencyExternalEC" />
   <endpoint address="https://st01.ai.basefarm.net/ServiceEngineExternal/PreFillEUSExternalEC.svc"
    binding="customBinding" bindingConfiguration="X509Binding" contract="PrefillEUS.IPreFillEUSExternalEC" />
   <endpoint address="https://st01.ai.basefarm.net/ServiceEngineExternal/ReporteeElementListEC.svc"
    binding="customBinding" bindingConfiguration="X509Binding" contract="ReporteeElementList.IReporteeElementListEC" />
   <endpoint address="https://st01.ai.basefarm.net/ServiceEngineExternal/SubscriptionAgencyExternalEC.svc"
    binding="customBinding" bindingConfiguration="X509Binding" contract="SubscriptionAgency.ISubscriptionAgencyExternalEC" />
   <endpoint address="https://st01.ai.basefarm.net/ServiceEngineExternal/ContextHandlerEC.svc"
    binding="customBinding" bindingConfiguration="X509Binding" contract="ContextHandler.IContextHandlerEC" />
   <endpoint address="https://st01.ai.basefarm.net/ServiceEngineExternal/BrokerServiceExternalECStreamed.svc"
    binding="customBinding" bindingConfiguration="AltinnX509Streamed"
    contract="BrokerServiceStreamed.IBrokerServiceExternalECStreamed" />
   <endpoint address="https://st01.ai.basefarm.net/ServiceEngineExternal/BrokerServiceExternalEC.svc"
    binding="customBinding" bindingConfiguration="X509Binding" contract="BrokerService.IBrokerServiceExternalEC" />
   <endpoint address="https://st01.ai.basefarm.net/IntermediaryExternal/BatchLoggingAgencyExternalEC.svc"
    binding="customBinding" bindingConfiguration="X509Binding" contract="BatchLoggingAgency.IBatchLoggingAgencyExternalEC" />
   <endpoint address="https://st02.ai.basefarm.net/ServiceEngineExternal/LookUpExternalEC.svc"
    binding="customBinding" bindingConfiguration="X509Binding" contract="LookUp.ILookUpExternalEC" />
   <endpoint address="https://st02.ai.basefarm.net/AuthorizationExternal/TokenExternalEC.svc"
    binding="customBinding" bindingConfiguration="X509Binding" contract="Token.IAuthorizationTokenExternalEC" />
   <endpoint address="https://st01.ai.basefarm.net/ServiceEngineExternal/CorrespondenceAgencyExternalAEC.svc"
    binding="customBinding" bindingConfiguration="X509Binding" contract="CorrespondenceAgencyNoSystem.ICorrespondenceAgencyExternalAEC" />
   <endpoint address="https://st01.ai.basefarm.net/ArchiveExternal/ArchiveCommonAgencyExternalEC2.svc"
    binding="customBinding" bindingConfiguration="X509EC2Binding"
    contract="ArchiveCommonAgencyEC2.IArchiveCommonAgencyExternalEC2" />
   <endpoint address="https://st02.ai.basefarm.net/ArchiveExternal/DownloadQueueExternalEC2.svc"
    binding="customBinding" bindingConfiguration="AltinnX509EC2CertBindingMTOM"
    contract="DownloadQueueEC2.IDownloadQueueExternalEC2" />
   <endpoint address="https://st01.ai.basefarm.net/ArchiveExternal/KeyManagementEC2.svc"
    binding="customBinding" bindingConfiguration="X509EC2Binding"
    contract="KeyManagementEC2.IKeyManagementExternalEC2" name="ST01" />
   <endpoint address="https://st01.ai.basefarm.net/ArchiveExternal/ReporteeArchiveExternalEC2.svc"
    binding="customBinding" bindingConfiguration="X509EC2Binding"
    contract="ReporteeArchiveEC2.IReporteeArchiveExternalEC2" name="ST01" />
   <endpoint address="https://st01.ai.basefarm.net/ArchiveExternal/ReporteeArchiveExternalStreamedEC2.svc"
    binding="customBinding" bindingConfiguration="AltinnX509EC2Streamed"
    contract="ReporteeArchiveStreamedEC2.IReporteeArchiveExternalStreamedEC2"
    name="ST01" />
   <endpoint address="https://st01.ai.basefarm.net/ArchiveExternal/ServiceOwnerArchiveExternalEC2.svc"
    binding="customBinding" bindingConfiguration="X509EC2Binding"
    contract="SOArchiveEC2.IServiceOwnerArchiveExternalEC2" name="ST01" />
   <endpoint address="https://st01.ai.basefarm.net/ArchiveExternal/ServiceOwnerArchiveExternalStreamedEC2.svc"
    binding="customBinding" bindingConfiguration="AltinnX509EC2Streamed"
    contract="SOArchiveStreamedEC2.IServiceOwnerArchiveExternalStreamedEC2" />
   <endpoint address="https://st01.ai.basefarm.net/AuthorizationExternal/AdministrationExternalEC2.svc"
    binding="customBinding" bindingConfiguration="X509EC2Binding"
    contract="AdministrationEC2.IAuthorizationAdministrationEC2" />
   <endpoint address="https://st01.ai.basefarm.net/IntermediaryExternal/IntermediaryInboundExternalEC2Streamed.svc"
    binding="customBinding" bindingConfiguration="AltinnX509EC2Streamed"
    contract="IntermediaryInboundEC2Streamed.IIntermediaryInboundExternalEC2Streamed" />
   <endpoint address="https://st01.ai.basefarm.net/IntermediaryExternal/ReceiptAgencyExternalEC2.svc"
    binding="customBinding" bindingConfiguration="X509EC2Binding"
    contract="ReceiptAgencyEC2.IReceiptAgencyExternalEC2" />
   <endpoint address="https://st01.ai.basefarm.net/IntermediaryExternal/ReceiptExternalEC2.svc"
    binding="customBinding" bindingConfiguration="X509EC2Binding"
    contract="ReceiptEC2.IReceiptExternalEC2" />
   <endpoint address="https://st01.ai.basefarm.net/ServiceEngineExternal/CaseAgencySystemEC2.svc"
    binding="customBinding" bindingConfiguration="X509EC2Binding"
    contract="CaseAgencySystemEC2.ICaseAgencySystemEC2" />
   <endpoint address="https://st01.ai.basefarm.net/ServiceEngineExternal/CaseEC2.svc"
    binding="customBinding" bindingConfiguration="X509EC2Binding"
    contract="CaseEC2.ICaseEC2" />
   <endpoint address="https://st01.ai.basefarm.net/ServiceEngineExternal/CorrespondenceAgencyExternalEC2.svc"
    binding="customBinding" bindingConfiguration="X509EC2Binding"
    contract="CorrespondenceAgencyEC2.ICorrespondenceAgencyExternalEC2" />
   <endpoint address="https://st01.ai.basefarm.net/ServiceEngineExternal/CorrespondenceExternalEC2.svc"
    binding="customBinding" bindingConfiguration="X509EC2Binding"
    contract="CorrespondenceEC2.ICorrespondenceExternalEC2" />
   <endpoint address="https://st01.ai.basefarm.net/ServiceEngineExternal/NotificationAgencyExternalEC2.svc"
    binding="customBinding" bindingConfiguration="X509EC2Binding"
    contract="NotificationAgencyEC2.INotificationAgencyExternalEC2" />
   <endpoint address="https://st01.ai.basefarm.net/ServiceEngineExternal/PreFillAgencyExternalEC2.svc"
    binding="customBinding" bindingConfiguration="X509EC2Binding"
    contract="PrefillAgencyEC2.IPreFillAgencyExternalEC2" />
   <endpoint address="https://st01.ai.basefarm.net/ServiceEngineExternal/PreFillEUSExternalEC2.svc"
    binding="customBinding" bindingConfiguration="X509EC2Binding"
    contract="PrefillEUSEC2.IPreFillEUSExternalEC2" />
   <endpoint address="https://st01.ai.basefarm.net/ServiceEngineExternal/ReporteeElementListEC2.svc"
    binding="customBinding" bindingConfiguration="X509EC2Binding"
    contract="ReporteeElementListEC2.IReporteeElementListEC2" />
   <endpoint address="https://st01.ai.basefarm.net/ServiceEngineExternal/SubscriptionAgencyExternalEC2.svc"
    binding="customBinding" bindingConfiguration="X509EC2Binding"
    contract="SubscriptionAgencyEC2.ISubscriptionAgencyExternalEC2" />
   <endpoint address="https://st01.ai.basefarm.net/ServiceEngineExternal/ContextHandlerEC2.svc"
    binding="customBinding" bindingConfiguration="X509EC2Binding"
    contract="ContextHandlerEC2.IContextHandlerEC2" />
   <endpoint address="https://st01.ai.basefarm.net/ServiceEngineExternal/BrokerServiceExternalEC2Streamed.svc"
    binding="customBinding" bindingConfiguration="AltinnX509EC2Streamed"
    contract="BrokerServiceEC2Streamed.IBrokerServiceExternalEC2Streamed" />
   <endpoint address="https://st01.ai.basefarm.net/ServiceEngineExternal/BrokerServiceExternalEC2.svc"
    binding="customBinding" bindingConfiguration="X509EC2Binding"
    contract="BrokerServiceEC2.IBrokerServiceExternalEC2" />
   <endpoint address="https://st01.ai.basefarm.net/IntermediaryExternal/BatchLoggingAgencyExternalEC2.svc"
    binding="customBinding" bindingConfiguration="X509EC2Binding"
    contract="BatchLoggingAgencyEC2.IBatchLoggingAgencyExternalEC2" />
   <endpoint address="https://st02.ai.basefarm.net/ServiceEngineExternal/LookUpExternalEC2.svc"
    binding="customBinding" bindingConfiguration="X509EC2Binding"
    contract="LookUpEC2.ILookUpExternalEC2" />
   <endpoint address="https://st02.ai.basefarm.net/AuthorizationExternal/TokenExternalEC2.svc"
    binding="customBinding" bindingConfiguration="X509EC2Binding"
    contract="TokenEC2.IAuthorizationTokenExternalEC2" />
   <endpoint address="https://st01.ai.basefarm.net/IntermediaryExternal/IntermediaryInboundExternalEC2.svc"
    binding="customBinding" bindingConfiguration="X509EC2Binding"
    contract="IntermediaryInboundEC2.IIntermediaryInboundExternalEC2" />
   <endpoint address="https://st01.ai.basefarm.net/ServiceEngineExternal/CorrespondenceAgencyExternalAEC2.svc"
    binding="customBinding" bindingConfiguration="X509EC2Binding"
    contract="CorrespondenceAgencyNoSystemEC2.ICorrespondenceAgencyExternalAEC2" />
  </client>
	</system.serviceModel>
	<appSettings>
		<add key="SpiCertificateThumbprint" value="9971b2d97112f56ddbf5b7964ca7dfe577107f54"/>
	</appSettings>
</configuration>
